doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 1LDK+JK Ikinari Doukyo? Micchaku!? Hatsu Ecchi!!?
        script(src='https://code.jquery.com/jquery-3.6.3.js')
        link(rel='stylesheet' href='css/HAZUKASHIGARIYA.css')
        link(rel='icon' href='/img/omai.ico')
    body
    section.title
        div.line
        h1 Heroine wa zetsubou shimashita
        h3 1LDK+JK いきなり同居? 密着!? 初エッチ!!?
        div.line

    // ilustracion de la descripcion
    section.ilustracion
        img(src='img/micchaku.jpg' alt='')
        h3 G&eacute;neros: Comedy Romance Small Breast Student Tsundere Vanilla Virgin
    
    section.minfo
        table            
            tr
                th Estado
            tr
                th En curso
                td   
            tr
                th Titulos Alternativos:
                td
                    | 1LDK+JK いきなり同居? 密着!? 初エッチ!!?
            tr
                th Tipo:
                td Manga
            tr
                th Encargados de la Traducci&oacute;n:
            tr
                th Traductor del japones al Espa&ntilde;ol:
                td Underwordliellanovels
            tr
                th Corrector
                td Underwordliellanovels
            tr
                th Editor de Ilustraciones
                td Underwordliellanovels
            tr.sinop
                th(colspan='2') Sinopsis:
            tr.sinop2
                td(colspan='2')
                    | Misaki Akane, una chica de instituto que vive sola porque sus padres están demasiado ocupados con su trabajo, alquila una habitación sólo para descubrir que hay un error en el contrato y la obligan a vivir con Hazama Ken, un asalariado, hasta que otra habitación quede libre.
                    | Sin que ellos lo sepan, el error es el comienzo de un romance tan inesperado en sus vidas...
    
    section.volumenes        
        figure.figure
            img(src="img/micchaku.jpg" alt='')                
            h4 Leer capitulos disponibles
            div.capit
                a(href='/MICCHAKU_CAPI')
                    img(src='img/flecha.png' alt='')
                    |  Leer Capitulos
      
    #disqus_thread
    script.
        (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://underwordliellanovelsm.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the 
        a(href='https://disqus.com/?ref_noscript')
            | comments powered by
            | Disqus.

    // la parte de abajo
    section.footer
        p Derechos Reservados
        p Copyright &copy; 2023 UnderwordLiellaNovels
    script(src='main/url.js')
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')