doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title HOZUMI-SENSEI TO MATSURI-KUN TO.
        script(src='https://code.jquery.com/jquery-3.6.3.js')
        link(rel='stylesheet' href='css/HOZUMI_SENSEI.css')
        link(rel='icon' href='/img/Marca.ico')
    body
    section.title
        div.line
        h1 HOZUMI-SENSEI TO MATSURI-KUN TO.
        div.line

    // ilustracion de la descripcion
    section.ilustracion
        img(src='img/hozumi1.jpg' alt='')
        h3 G&eacute;neros: Comedia romántica, Escolares, Harem, Recuentos de la vida.
    
    section.minfo
        table
            tr
                th Cr&eacute;ditos: 
            tr
                th Autor:
                td Aya Hazuki
            tr
                th Ilustrador:
                td DSmile.
            tr
                th Editorial:
                td Dengeki Bunko
            tr
                th Encargados de la Traducci&oacute;n:
            tr
                th Traductor del Ingl&eacute;s al Espa&ntilde;ol:
                td Defous123
            tr
                th Editor de Ilustraciones
                td Rouni
            tr
                th Maquetador de PDF:
                td ??
            tr.sinop
                th(colspan='2') Sinopsis:
            tr.sinop2
                td(colspan='2')
                    | El famoso autor de novelas ligeras &laquo;Hozumi&raquo; cay&oacute; en decadencia tras sus &uacute;ltimos a&ntilde;os como escritor y su editora encargada rechaz&oacute; su &uacute;ltima obra, entonces le hizo una propuesta un tanto p&iacute;cara si lograba escribir algo bueno. Un d&iacute;a una estudiante de secundaria llamada &laquo;Matsuri Shirahana&raquo; aparece en su apartamento con su labor de cuidarlo y hacerle las tareas del hogar hasta que pueda inspirarse en escribir una nueva novela. &iexcl;&iexcl;Empez&oacute; la vida diaria entre un novelista virgen y una chica de secundaria!!

    figure.backgraoud
        img(src='img/hozumi4.jpg' alt='')

    section.volumenes        
        each volumenes in volumene
            figure.figure
                img(src=volumenes.imagen alt='')                
                h4=volumenes.volumen
                a.link(href=volumenes.drive) Descargar  Drive
                a.link(href=volumenes.mega) Descargar Mega
    
    #disqus_thread
    script.
        (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://underwordliellanovelsm.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the 
        a(href='https://disqus.com/?ref_noscript')
            | comments powered by
            | Disqus.

    // la parte de abajo
    section.footer
        p Derechos Reservados
        p Copyright &copy; 2023 UnderwordLiellaNovels
    script(src='main/url.js')
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')