doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title KURASU NO DAIKIRAINA JOSHI TO KEKKON SURU KOTO NI NATTA
        script(src='https://code.jquery.com/jquery-3.6.3.js')
        link(rel='stylesheet' href='css/KURASU.css')
        link(rel='icon' href='/img/Marca.ico')
    body
    section.title
        div.line
        h1 KURASU NO DAIKIRAINA JOSHI TO KEKKON SURU KOTO NI NATTA
        div.line

    // ilustracion de la descripcion
    section.ilustracion
        img(src='img/kurasu.png' alt='')
        h3 G&eacute;neros: Comedia romántica, Escolar, Harem, Recuentos de la vida, Romance.
    
    section.minfo
        table
            tr
                th Cr&eacute;ditos: 
            tr
                th Autor:
                td Amano Seiju 天乃聖樹
            tr
                th Ilustrador:
                td Narumi Nanami  成海七海
            tr
                th Editorial:
                td ??
            tr
                th Encargados de la Traducci&oacute;n:
            tr
                th Traductor al Espa&ntilde;ol:
                td Legend no Fansub-Akira Translations
            tr
                th Editor de Ilustraciones
                td ??
            tr
                th Maquetador de PDF:
                td ??
            tr.sinop
                th(colspan='2') Sinopsis:
            tr.sinop2
                td(colspan='2')
                    | El estudiante de secundaria Hojo Saito se cas&oacute; con su compa&ntilde;era de clase, Sakuramori Akane, la chica que es su peor enemiga en la escuela. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&laquo;Si le dices al resto de la clase que estamos casados, te matar&eacute;&raquo; 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&ldquo;No quiero que ellos sepan tampoco. No tiene sentido &laquo;. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Su vida de reci&eacute;n casados no iba tan bien y estaban constantemente enfrentados. Sin embargo, a medida que avanzan en su vida diaria, la distancia entre ellos se cierra, tienen m&aacute;s momentos agradables juntos y gradualmente se van entendiendo. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Saito se entera del lado lindo de Akane, que nunca hab&iacute;a visto antes, y Akane gradualmente comenz&oacute; a reconocer los sentimientos que hab&iacute;a estado guardando en su interior &mldr; 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&iexcl;La conmovedora vida de reci&eacute;n casados de dos personas que parecen no poder ser sinceras entre s&iacute; comienza aqu&iacute;!

    figure.backgraoud
        img(src='img/kurasuback2.jpg' alt='')
        h1 Para Descargar redirigir hacia las siguientes paginas
    section.volumenes
        figure
            a(href='https://legendstranslations.wordpress.com/kurasu-no-daikiraina-joshi-to-kekkon-suru-koto-ni-natta/' target='_blank') Legend no Fansub
            h4 Pulse aki para redirigirse hacia los enlances de descarag
        figure
            a(href='https://akiratranslations.wordpress.com/2022/01/06/68/' target='_blank') Akira Translations
            h4 Pulse aki para redirigirse hacia los enlances de descarag

    
    #disqus_thread
    script.
        (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://underwordliellanovelsm.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the 
        a(href='https://disqus.com/?ref_noscript')
            | comments powered by
            | Disqus.

    // la parte de abajo
    section.footer
        p Derechos Reservados
        p Copyright &copy; 2023 UnderwordLiellaNovels
    script(src='main/url.js')
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')