doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Subir ZIP
        script(src='https://code.jquery.com/jquery-3.6.3.js')
        link(rel='stylesheet' href='css/subir_capitulos.css')
    body 
    form(action="/Mangas" method="POST" enctype="multipart/form-data")
        input.file(type="file" name="archivo")
        input(type="text" name="capitulo" placeholder="Nombre del capítulo")
        select#carpeta(name="carpeta")
            option(value="Micchaku") 1LDK+JK Ikinari Doukyo? Micchaku!? Hatsu Ecchi
            option(value="Heroine",selected) Heroine wa zetsubou shimashita
            option(value="Hazukashigariya") Hazukashigariya no Tsuma to Shinkon Seikatsu Hajimemashita

        input.btn(type="submit" value="Subir")
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')

