doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Matchinguapuri de Moto Koibito to Saikai Shita
        script(src='https://code.jquery.com/jquery-3.6.3.js')
        link(rel='stylesheet' href='css/Matchinguapuri.css')
        link(rel='icon' href='/img/Marca.ico')
    body
    section.title
        div.line
        h1 Matchinguapuri de Moto Koibito to Saikai Shita
        div.line

    // ilustracion de la descripcion
    section.ilustracion
        img(src='img/Matchinguapuri.png' alt='')
        h3 G&eacute;neros: Comedia, Romance, Drama.
    
    section.minfo
        table
            tr
                th Cr&eacute;ditos: 
            tr
                th Autor:
                td Nanashi Maru.
            tr
                th Ilustrador:
                td Akino Eru.
            tr
                th Editorial:
                td N/S
            tr
                th Encargados de la Traducci&oacute;n:
            tr
                th Traductor del Ingl&eacute;s al Espa&ntilde;ol:
                td Shinomiya / ShigatsuTranslations
            tr
                th Editor de Ilustraciones
                td Zonkray
            tr
                th Maquetador de PDF:
                td Tecnolector
            tr.sinop
                th(colspan='2') Sinopsis:
            tr.sinop2
                td(colspan='2')
                    pre
                        | Pase lo que pase, &iexcl;siguen sinti&eacute;ndose atra&iacute;dos el uno por el otro!
                        | &iexcl;La nueva comedia rom&aacute;ntica estudiantil conectada gracias a una aplicaci&oacute;n de citas!
                        | Un amigo me recomend&oacute; una aplicaci&oacute;n de citas. Sin embargo, la persona que conoc&iacute; era en realidad mi propia ex novia, &iexcl;Takamiya Hikari!
                        | Y lo m&aacute;s raro es que tambi&eacute;n me emparejaron con una chica muy hermosa de la misma universidad que yo, &iexcl;Hatsune Shin!
                        | &iquest;Con qui&eacute;n deber&iacute;a salir?
                        | &iquest;Con mi antiguo amor o con mi nuevo amor? 
    
    section.volumenes        
        each volumenes in volumene
            figure.figure
                img(src=volumenes.imagen alt='')                
                h4=volumenes.volumen
                a.link(href=volumenes.drive) Descargar  Drive
                a.link(href=volumenes.mega) Descargar Mega
    
    #disqus_thread
    script.
        (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://underwordliellanovelsm.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the 
        a(href='https://disqus.com/?ref_noscript')
            | comments powered by
            | Disqus.

    // la parte de abajo
    section.footer
        p Derechos Reservados
        p Copyright &copy; 2023 UnderwordLiellaNovels
    script(src='main/url.js')
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')