doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title SHIMOTSUKI-SAN WA MOB GA SUKI
        script(src='https://code.jquery.com/jquery-3.6.3.js')
        link(rel='stylesheet' href='css/shimotsuki_san.css')
        link(rel='icon' href='/img/Marca.ico')
    body
    section.title
        div.line
        h1 SHIMOTSUKI-SAN WA MOB GA SUKI
        div.line

    // ilustracion de la descripcion
    section.ilustracion
        img(src='img/shimotsuki.png' alt='')
        h3 G&eacute;neros: Drama, Escolar, Romance.
    
    section.minfo
        table
            tr
                th Cr&eacute;ditos: 
            tr
                th Autor:
                td Yagami Kagami
            tr
                th Ilustrador:
                td Roha.
            tr
                th Editorial:
                td GCN Bunko
            tr
                th Encargados de la Traducci&oacute;n:
            tr
                th Traductor del Ingl&eacute;s al Espa&ntilde;ol:
                td GB Traducciones
            tr
                th Editor de Ilustraciones
                td Rouni
            tr
                th Maquetador de PDF:
                td Rouni
            tr.sinop
                th(colspan='2') Sinopsis:
            tr.sinop2
                td(colspan='2')
                    | Cuando conoc&iacute; a esa persona, me di cuenta de que yo era un &ldquo;personaje mob&rdquo;. Mi amiga de la infancia, mi mejor amiga y mi media hermana menor que quise se enamoraron de &eacute;l. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Para un popular protagonista de harem como &eacute;l, y yo, un mob, no hab&iacute;a forma de que pudiera enfrentarlo&mldr;.pero, hab&iacute;a una chica que mostraba sus emociones solo a m&iacute;. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Adem&aacute;s, ella es la hero&iacute;na principal a la que el protagonista m&aacute;s ama. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Suele ser callada, pero solo se vuelve habladora en frente de m&iacute;. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;Solo muestra su sonrisa en frente de m&iacute;. 
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;A pesar de que ella est&aacute; en la posici&oacute;n de la hero&iacute;na principal, le gusta un mob como yo.

    figure.backgraoud
        img(src='img/shimotsuki3.png' alt='')
    section.volumenes
        figure
            a(href='https://gbtraduccionesblog.wordpress.com/2021/10/20/shimotsuki-san-wa-mob-ga-suki/' target='_blank')
                img(src='/img/gbtraducciones.jpg' alt='')
            h4 GB Traducciones
            h5 | Para descargar la novela, pulse aqu&iacute; y se le redirigir&aacute; a la p&aacute;gina del traductor.
    div.line1
    
    #disqus_thread
    script.
        (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://underwordliellanovelsm.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the 
        a(href='https://disqus.com/?ref_noscript')
            | comments powered by
            | Disqus.

    // la parte de abajo
    section.footer
        p Derechos Reservados
        p Copyright &copy; 2023 UnderwordLiellaNovels
    script(src='main/url.js')
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')