@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

.hedaer {
    background: #191c24;
    width: 100%;
    display: flex;
    justify-content: space-between;

    color: white;
    padding: 20px;
    position: relative;
}

.logo {
    width: 120px;
    height: 50px;
}

.header-title {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
}

.cuenta {
    display: flex;
    align-items: center;
}

.login {
    width: 35px;
    height: 30px;
    margin: 10px;
    filter: invert(1);
    cursor: pointer;
}

.cerrar {
    display: none;
    width: 20px;
    height: 20px;
}

.login-ventana {
    position: absolute;
    color: white;
    width: 150px;
    height: 140px;
    display: none;
    right: 10px;
    background: #191c24;
    align-items: center;
    border-radius: 10px;
    transform: translateY(70px);
    justify-content: space-around;
    flex-direction: column;
}

.mostrar {
    display: flex;
}

.ocultar {
    display: none;
}

.cerrar-sesion {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    flex-direction: column;
}
.usser{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: none;
    text-align: center;
    width: 60%;
    align-items: center;
    align-self: center; 
    color: white; 
    border-radius: 20px;
}

.login-sesion {
    border: none;
    outline: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 120px;
    cursor: pointer;
    height: 25px;
    background: #3866f2;
    color: white;
}

.container {
    width: 100%;
    margin: 10px auto;
    display: flex;
    background: #1f2937;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/* .container-text {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.text-title {
    font-size: 20px;
    margin: 10px;
    display: flex;
    text-transform: capitalize;
    display: flex;
    align-self: center;
}

/* .container-text p {
    font-size: 20px;
    margin: 10px;
    display: flex;
} */

/* .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .botones .btn {
    margin: 10px;
    width: 140px;
    display: flex;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
} */

/* .botones .contenido-ver {
    margin: 10px;
    width: 240px;
    display: flex;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    background: #3866f2;
    color: white;
    border-radius: 20px;
} */

.explicacion {
    display: flex;
    /* flex-direction: column; */
    margin: 10px;
    justify-content: center;
    width: 90%;
    align-items: center;
    align-self: center;
}

.list-exp {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 10px;
}

.link {
    /* text-decoration: none; */
    color: white;
}

.slider-vertical {
    position: absolute;
    left: 0;
    top: 100px;
    width: 50px;
    height: 135vh;
    background: #191c24;
    z-index: 100;
    transition: .5s;
    /* outline: 1px solid white; */
    display: flex;
    /* justify-content: center; */
    color: #6c7293;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
}

.slider-vertical-min {
    width: 230px;
}

.menu-slider {
    width: 30px;
    height: 30px;
    filter: invert(1);
    display: flex;
    margin: 10px;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    top: 99px;
    left: 0;
    z-index: 10000;
    transition: .5s;
}

.slider-title {
    display: none;
    font-size: 1.2rem;
}

.ocultar-title {
    display: flex;
    padding: 0 0 0 10px;
    margin: 45px 0 0 0;
    transition: .5s;
}

.list-slider {
    width: 98%;
    display: flex;
    flex-direction: column;
    /* padding: 10px 0 0 10px; */
    margin: 45px 0 0 0;
    transition: .5s;
    
}

.menu-slider-min {
    transition: .5s;
    left: 170px;
}

.slider-vertical-min .list-slider-min {
    margin: 0;
    padding: 10px 0 0 10px;
    transition: .5s;
}

.slider-vertical-min .list-opciones {
    height: auto;
    margin: 10px 0 0 0;
    padding: 0;
    transition: .5s;
}

.slider-vertical-min
.icons-opciones {
    margin: 0;
    padding: 0;
    transition: .5s;
}

.icons-opciones {
    width: 35px;
    height: 35px;
    margin: 5px;
}
.slider-vertical-min .icons-opciones {
    height: auto;
    width: 35px;
    margin: 10px;
    transition: .5s;
}

.invert {
    filter: invert(1);
}

.list-opciones {
    display: flex;
    list-style: none;
    color: #6c7293;
    margin:0;
    width: 90%;
    height: auto;
    font-size: 17px;
    transition: .5s;
    align-items: center;
    overflow: hidden;
    text-transform: capitalize;
}

.list-opciones:hover {
    border-radius: 0px 100px 100px 0px;
    background: #0f1015;
    color: white;
    border-left: 5px solid #007bff;
    transition: .5s;
    box-shadow: 0 2px 0 rgb(255, 255, 255);
    /* transform: scale(1.05); */
}

.actulizar {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    padding: 3rem 2rem;
    text-align: center;
    line-height: 1.5;
    justify-content: center;
    color: #000000;
    flex-wrap: wrap;
    background: white;
    text-transform: capitalize;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.titule {
    background: none;
    font-size: 20px;
    margin: 10px;
}

.text {
    font-weight: bold;
    background: none;
    font-size: 18px;
}

.input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    font-size: 20px;
    background: none;
    text-align: center;
    width: 60%;
    align-items: center;
    align-self: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3866f2;
    color: white;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 150px;
    align-self: center;
    margin: 10px;
    cursor: pointer;
}

.span {
    background: rgba(255, 0, 0, .6);
    margin: 10px;
    border-radius: 10px;
}

.form {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    padding: 3rem 2rem;
    text-align: center;
    line-height: 1.5;
    justify-content: center;
    color: #000000;
    flex-wrap: wrap;
    background: white;
    text-transform: capitalize;
}

.agregar {
    display: none;
}

.capitulo {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    padding: 3rem 2rem;
    text-align: center;
    line-height: 1.5;
    justify-content: center;
    color: #000000;
    flex-wrap: wrap;
    background: white;
    text-transform: capitalize;
}

.texto{
    text-align:left;
}

.ocultar-capi {
    display: none;
}

.actu-capitulo {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    padding: 3rem 2rem;
    text-align: center;
    line-height: 1.5;
    justify-content: center;
    color: #000000;
    flex-wrap: wrap;
    background: white;
    text-transform: capitalize;
}

.ocultar-capi-act {
    display: none;
}

.delatecard {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 115vh;
    border-radius: 10px;
    padding: 3rem 2rem;
    text-align: center;
    line-height: 1.5;
    justify-content: space-evenly;
    color: #000000;
    flex-wrap: wrap;
    background: white;
    text-transform: capitalize;
}

.eliminarvol{
    display: none;
}

.delatechar {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 115vh;
    border-radius: 10px;
    padding: 3rem 2rem;
    text-align: center;
    line-height: 1.5;
    justify-content: space-evenly;
    color: #000000;
    flex-wrap: wrap;
    background: white;
    text-transform: capitalize;
}

.eliminarcapi{
    display: none;
}

.datos_base{
    width: 95%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}

caption{
    font-weight: bold;
}

.datos_base .table1{
    width: 95%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* .datos_base .table-one{
    width: 95%;
}

.datos_base .table-two{
    width: 95%;
} */

.datos_base .table1 thead {
    background: #362f4b;
    color: white;
    width: 95%;
}

.datos_base .table1 thead tr{
    display: flex;
    justify-content: space-around;
}

.datos_base .table1 tbody{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.datos_base .table1 tbody tr{
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.datos_base .table1 tbody tr td{
    width: 320px;
    display: flex;
    align-items: center;
    outline: 1px solid black;
    font-size: 10px;
}

.datos_base .table1 tbody tr:nth-child(2n){
    background: #f6f6f6;
}

/* .datos_base table tr td{
    font-size: 10px;
    outline: 1px solid black;
    overflow: hidden;
}

.datos_base table tr:nth-child(2){
    background: #f6f6f6;
} */

.datos_base .table2{
    width: 97%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.datos_base .table2 thead {
    background: #362f4b;
    color: white;
    width: 95%;
}

.datos_base .table2 thead tr{
    display: flex;
    justify-content: space-around;
}

.datos_base .table2 tbody{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.datos_base .table2 tbody tr{
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.datos_base .table2 tbody tr td{
    width: 49%;
    display: flex;
    align-items: center;
    outline: 1px solid black;
    font-size: 10px;
}

.datos_base .table2 tbody tr:nth-child(2n){
    background: #f6f6f6;
}

.datos_base .table3{
    width: 97%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.datos_base .table3 thead {
    background: #362f4b;
    color: white;
    width: 95%;
}

.datos_base .table3 thead tr{
    display: flex;
    justify-content: space-around;
}

.datos_base .table3 tbody{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.datos_base .table3 tbody tr{
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.datos_base .table3 tbody tr td{
    width: 49%;
    display: flex;
    align-items: center;
    outline: 1px solid black;
    font-size: 10px;
}

.datos_base .table3 tbody tr:nth-child(2n){
    background: #f6f6f6;
}

.datos_base .table4{
    width: 97%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.datos_base .table4 thead {
    background: #362f4b;
    color: white;
    width: 95%;
}

.datos_base .table4 thead tr{
    display: flex;
    justify-content: space-around;
}

.datos_base .table4 tbody{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.datos_base .table4 tbody tr{
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.datos_base .table4 tbody tr td{
    width: 85%;
    display: flex;
    align-items: center;
    outline: 1px solid black;
    font-size: 10px;
    font-size: 12px;
}

.datos_base .table4 tbody tr td:nth-child(2){
    width: 10%;
    justify-content: center;
}

.datos_base .table4 tbody tr:nth-child(2n){
    background: #f6f6f6;
}

.table-two table tr td{
    font-size: 10px;
    outline: 1px solid black;
    overflow: hidden;
}

.datos_ocul{
    display: none;
}

.datos_base-two{
    width: 95%;
    background: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 110vh;
}

.datos_ocul-visit{
    display: none;
}

.datos_base-two table{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

.datos_base-two table thead {
    background: #362f4b;
    color: white;
    width: 95%;
    text-align: center;
}

.datos_base-two table thead tr{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.datos_base-two table tr td{
    font-size: 10px;
    width: 88%;
    outline: 1px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 27px;
}

.datos_base-two table tbody{
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.datos_base-two table tbody tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.datos_base-two table tbody tr:nth-child(2n){
    background: rgb(235, 233, 233);
}

.datos_base-two table tbody tr td:nth-child(2){
    width: 10%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 10px 40px;
    margin: 0;
    background: #191c24;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
}

@media (max-width:768px) {
    .header-title {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    /* .container-text {
        width: 90%;
        align-self: center;
    } */

    .slider-vertical {
        transform: translateX(-240px);
        height: 80vh;
        transition: .9s;
    }

    .slider-vertical-min {
        transform: translateX(0);
        width: 170px;
        transition: 1.1s;
    }

    .slider-vertical-min .slider-title {
        display: flex;
        font-size: 17px;
    }

    .menu-slider {
        left: 0px;
    }

    .menu-slider-min {
        left: 110px;
        transition: .9s;
    }

    .slider-vertical-min .list-slider-min {
        margin: 10px 0 10px 0;
        padding: 10px 0 0 10px;
        transition: .9s;
    }

    .slider-vertical-min .list-opciones {
        font-size: 15px;
        margin: 6px 0 6px 0;
        transition: .9s;
    }

    .icons-opciones {
        width: 30px;
        height: 30px;
        margin: 5px 5px 0 10px;
    }
    
    .explicacion {
        width: 90%;
        align-self: center;
    }

    .delatecard ,.delatechar{
        height: 67vh;
        justify-content: space-between;
    }

    .list-exp {
        font-size: 12px;
        margin: 5px;
    }

    .datos_base .table1 tbody tr td {
        width: 90px;
    }

    .datos_base .table1 tbody tr td:nth-child(3) {
        width: 185px;
    }

    .datos_base .table3 tbody tr td {
        width: 70px;
    }

    .datos_base .table3 tbody tr td:nth-child(2) {
        width: 195px;
    }
    .datos_base .table4 tbody tr td{
        font-size: 10px;
    }

    .datos_base-two{
        height: 93vh;
        justify-content: center;
    }
    
    .datos_base-two table{
        width: 95%;
        height: 85vh;
        font-size: 9px;
        align-items: baseline;
    }

    .datos_base-two table tbody{
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .datos_base-two table tbody tr{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .datos_base-two table tbody tr:nth-child(2){
        background: rgb(225, 222, 222);
    }

    .datos_base-two table tbody tr td{
        width: 85%;
        display: flex;
        height: 38px;
    }

    .datos_base-two table tbody tr td:nth-child(2){
        width: 10%;
    }

    .actulizar,
    .form {
        padding: 2.5rem 2rem;
    }
}