* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  background-color: #1b3358;
  opacity: 0.8;
  background-image: radial-gradient(#1b3358 0.5px, #1b3358 0.5px);
  background-size: 20px 20px;
}

form {
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  width: 90%;
  height: 350px;
  border-radius: 10px;
  padding: 3.5rem 3rem;
  text-align: center;
  line-height: 2.5;
  justify-content: space-around;
  color: black;
  flex-wrap: wrap;
  background: #f2d7db;
  text-transform: capitalize;
  position: relative;
}

.file{
  display: flex;
  outline: none;
}

input {
  width: 95%;
  display: flex;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px;
  font-size: 15px;
  background: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3866f2;
  color: white;
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 150px;
  align-self: center;
  margin: 10px;
  cursor: pointer;
}

#carpeta {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  background: transparent;
}

option {
  display: flex;
  outline: none;
  border: none;
  flex-direction: column;
  width: 100%;
  /* color: white; */
  /* background: transparent; */
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  form {
    height: 450px;
    justify-content: space-around;
  }

  input {
    margin: 0;
  }
}
